<!DOCTYPE html>
<html>
	<head>
		<title>truYum</title>
		<link rel="icon" type="image/ico" href="./images/truyum-logo-dark.png" />
		<link rel="stylesheet" type="text/css" href="./style/style.css">
	</head>
	<body>
		<header>
			<span class="header-title">truYum</span>
			<img class="header-logo" src="./images/truyum-logo-light.png" alt="truYum Logo"></img>
			<nav>
				<a class="nav-link" href="./menu-item-list-customer.html">Menu</a>
				<a class="nav-link" href="./cart.html">Cart</a>
			</nav>
		</header>
		<article>
			<h2 class="article-heading">Cart</h2>
			<p class="article-notification article-notification-left">Item removed from Cart Successfully</p>
			<br>
			<table class="table-margin">
				<tr>
					<th class="col-left">Name</th>
					<th class="col-left">Free Delivery</th>
					<th class="col-right">Price</th>
					<th></th>
				</tr>
				<tr>
					<td class="col-left">Sandwich</td>
					<td class="col-left">Yes</td>
					<td class="col-right">Rs. 99.00</td>
					<td>
						<a class="action-link" href="./cart-notification.html">Delete</a>
					</td>
				</tr>
				<tr>
					<td class="col-left">Burger</td>
					<td class="col-left">No</td>
					<td class="col-right">Rs. 129.00</td>
					<td>
						<a class="action-link" href="./cart-notification.html">Delete</a>
					</td>
				</tr>
				<tr>
					<th></th>
					<th class="col-left">Total</th>
					<th class="col-right">Rs. 228.00</th>
					<th></th>
				</tr>
			</table>
		</article>
		<footer>
			<p>Copyright &copy; 2019</p>
		</footer>
	</body>
</html>