<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <form class="form-signin" method="post" th:action="@{/menu}">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group">
            <span th:text="${message}"></span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>

            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span class="has-error" th:text="${error}"></span>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a href="/registration">Create an account</a></h4>
        </div>
    </form>
</div>
</body>
</html>