<!DOCTYPE html>
<html>
	<head>
		<title>truYum</title>
		<link rel="icon" type="image/ico" href="./images/truyum-logo-dark.png" />
		<link rel="stylesheet" type="text/css" href="./style/style.css">
	</head>
	<body>
		<header>
			<span class="header-title">truYum</span>
			<img class="header-logo" src="./images/truyum-logo-light.png" alt="truYum Logo"></img>
			<nav>
				<a class="nav-link" href="./menu-item-list-customer.html">Menu</a>
				<a class="nav-link" href="./cart.html">Cart</a>
			</nav>
		</header>
		<article>
			<h2 class="article-heading">Menu Items</h2>
			<table>
				<tr>
					<th class="col-left">Name</th>
					<th>Free Delivery</th>
					<th class="col-right">Price</th>
					<th>Category</th>
					<th>Action</th>
				</tr>
				<tr>
					<td class="col-left">Sandwich</td>
					<td>Yes</td>
					<td class="col-right">Rs. 99.00</td>
					<td>Main Course</td>
					<td>
						<a class="action-link" href="./menu-item-list-customer-notification.html">Add to Cart</a>
					</td>
				</tr>
				<tr>
					<td class="col-left">Burger</td>
					<td>No</td>
					<td class="col-right">Rs. 129.00</td>
					<td>Main Course</td>
					<td>
						<a class="action-link" href="./menu-item-list-customer-notification.html">Add to Cart</a>
					</td>
				</tr>
				<tr>
					<td class="col-left">Pizza</td>
					<td>No</td>
					<td class="col-right">Rs. 149.00</td>
					<td>Main Course</td>
					<td>
						<a class="action-link" href="./menu-item-list-customer-notification.html">Add to Cart</a>
					</td>
				</tr>
			</table>
		</article>
		<footer>
			<p>Copyright &copy; 2019</p>
		</footer>
	</body>
</html>